.git
.github
.idea
.vscode
.zed
.env
.env.*
!.env.example
!.env.production.example
node_modules
vendor
public/build
public/hot
public/storage
public/sitemap.xml
bootstrap/cache/*.php
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
storage/*.key
secrets
tests
docker/8.0
docker/8.1
docker/8.2
docker/8.3
docker/8.4
docker/8.5
.phpunit.cache
.phpunit.result.cache
npm-debug.log
